<div
  class="bg-blue-400 flex flex-col gap-4 p-12 h-[60vh] items-center justify-first"
>
  <h1 class="font-bold text-4xl">Home Page</h1>
  <p class="font-normal text-lg">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate harum
    commodi reprehenderit nihil eaque totam enim quae culpa blanditiis tempora
    aspernatur voluptatem voluptatum hic voluptates accusantium, veritatis sequi
    aperiam est nisi optio sed laborum, eum illo unde! Aspernatur minus,
    suscipit a quod deserunt libero odio placeat dolores iure accusantium sunt.
  </p>
</div>
